@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
   --color1: #F7FFF6;
   --color2: #93b48b;
   --color3: #8491a3;
   --color4: #87d68d;
   --color5: #bcebcb;
   --color6: #000;
}


body {
   display: grid;
   grid-template-columns: 1fr 4fr;
   grid-template-rows: auto 5fr;
   height: 100vh;
   color: var(--color1);
   font-family: "Poppins", sans-serif;
   position: relative;
}

.header {
   align-self: baseline;
   grid-column: 1/3;
}

/* Add project/todo modal */
.form-modal {
   position: fixed;
   background-color: rgba(0, 0, 0, 0.3);
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   overflow: auto;
   z-index: 1;
}

form {
   padding: 1.5rem;
   margin: 200px auto;
   background-color: var(--color2);
   border-radius: 0.3rem;
}

input {
   outline: none;
}
