.projects-container {
   padding: 3rem;  
   color: black; 
}

.project {
    display: flex;
    flex-direction: column;
}

.add-task-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-left: -5px;
}

.add-task-icon {
    width: 2rem;
}



