.projects-container {
   padding: 3rem;
   color: var(--color6);
   display: flex;
   justify-content: center;
   background-color: var(--color1);
}

.project {
   display: flex;
   flex-direction: column;
   width: min(1000px, 100%);
   align-items: center;
}

.add-task-btn {
   display: flex;
   align-self: flex-start;
   align-items: center;
   gap: 1rem;
   margin-bottom: 2rem;
   margin-left: -5px;
}

.add-task-icon {
   width: 2rem;
}

.add-task-btn:active {
   transform: scale(1.02);
}

/* Project title card */

.project-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
   cursor: pointer;
}

.project-title {
   font-size: 1.2rem;
}

.project-utility-btns {
   display: flex;
   gap: 1rem;
}

.edit-title-btn,
.remove-project-btn {
   display: flex;
   padding: 0;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   border: none;
}

.edit-project-icon,
.remove-project-icon {
   width: 1.8rem;
   height: 1.8rem;
   filter: brightness(0) invert(1);
}
.remove-project-icon {
   width: 1.6rem;
   height: 1.6rem;
}

.edit-title-btn:active,
.remove-project-btn:active {
   transform: scale(1.1);
}

/* Add project Form */

.add-project-form-modal {
   display: none;
}

.add-project-form {
   width: 300px;
   height: 180px;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.add-project-input-container {
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.project-title-input {
   border-radius: 0.3rem;
   border: none;
   height: 1.5rem;
}

.create-project-btn {
   background-color: var(--color4);
   border: none;
   color: inherit;
   width: clamp(5rem, 50%, 10rem);
   height: 2rem;
   align-self: center;
   border-radius: 0.3rem;
   margin-top: auto;
}
