.todo-container {
   color: var(--color6);
   display: flex;
   width: 100%;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   padding-top: 1rem;
}

.todo-head-container {
   display: flex;
   width: 100%;
   align-items: center;
   gap: 1rem;
}

.todo-title {
   margin-right: auto;
}

.todo-duedate {
   justify-self: end;
}

.edit-todo-btn, .remove-todo-btn {
   background-color: transparent;
   border: none;
}

.edit-todo-icon, .remove-todo-icon {
   width: 1.4rem;
}

.edit-todo-btn:active,
.remove-todo-btn:active {
   transform: scale(1.1);
}



.todo-container:not(:last-child) {
   border-bottom: 1px solid var(--color3);
}

.todo-description {
   display: none;
}

/* Add todo form */

.add-todo-form-modal {
   display: none;
}

.add-todo-form {
   width: 300px;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
}

.add-todo-form-heading {
   font-size: 1.4rem;
}

.add-todo-inputs-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   width: 100%;
}

.input-container {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
   width: 100%;
}

.todo-form-input {
   height: 1.5rem;
}

.todo-form-input,
.todo-description-input {
   border: none;
   border-radius: 0.3rem;
}

.create-todo-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--color4);
   width: 50%;
   width: clamp(5rem, 50%, 10rem);
   height: 2rem;
   border-radius: 0.3rem;
}
